


.card {
  padding: 5%;
  cursor: pointer;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.136);
}

.card-grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
  margin: 5%;
  gap: 20px;
}

.card:hover {
  border-color: gray;
}

.font {
  font-size: medium;
  position: relative;
}