@media only screen and (min-width: 480px) {
  .box {
    display:flex;
    position: relative;
    justify-content: space-between;
  }
}


.box {
  display: flex;
  position: relative;
  justify-content: space-between;
  background: #EFEFEF;
  border-radius: 3px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.pokemon-bg {
  opacity: 0.8;
  background: #EFEFEF;

}

.pokemon-bg:hover {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}