body {
    display: flex;
    justify-content: center;
    align-items:center; /* align to bottom of container */
    height: 100vh;
    margin: 0;
  }

/* .pokemon-bg{
    background:#EFEFEF;
    
}
.pokemon-bg:hover{
  background-color:#DCDBE7;
}
.font{
    font-size:medium;

} */

h1{
    font-size: medium;
    line-height: 10px;
    text-align: center;
    background-color: white;
}

.button{
  position: absolute;
  top:100px;
  height: 23px;
  bottom:auto;
  left: 1550px;
  right:auto;
  background: #DCDBE7;
  border-color: white;
 
}

.button:hover{
  border-color: gray;
}
