body {
    display: flex;
    justify-content: center;
    align-items:center; /* align to bottom of container */
    height: 100vh;
    margin: 0;
  }




.pokemon-bg{
    background:#EFEFEF;
    
}

.font{
    font-size:medium;

}




h1{
    font-size: medium;
    line-height: 10px;
    text-align: center;
    background-color: white;
}

.card {
    position: absolute; /* set cards to absolute positioning */
    top: 0; /* position cards at the top left of the container */
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }

  .card-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
    width: 100%; /* set the width to take up only 80% of the screen */
    max-width: 800px; /* set a max-width to ensure the grid doesn't get too wide */
    max-height: 800px;
  }

  .box{
    position:absolute;
    top: 150px;
    right: 500px;
    left: 500px;
    
    height: 120px;
    
    background: #EFEFEF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #00000029;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin: auto;
    font-size:20px;
}

.card:hover{
    border-color: blue; 
}